*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
}

main > section{
    display: inline;
}

main ul{
    width: 250px;
    border: 1px solid black;
    padding: 1rem;
}

ul>li{
    justify-content: space-between;
    padding: 0.3rem 0;
    border-bottom: 1px solid greenyellow;
}

#section-add{
    width:calc(100% - 250px);
    border: 1px 1px 1px 0 solid black;
}

#section-add>p{
    padding: 1rem 0.5rem;
}

#section-add :not(p){
    margin: 0.5rem;
    padding: 0.3rem;
}

section > input{
    width: 50%;
}


.sbarra{
    text-decoration: line-through;
}

.cursor-open{
    cursor: grab;
}