*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
}

body{
    background-color: gainsboro;
}

h1{
    text-align: center;
    padding-bottom: 1rem;
    text-transform: uppercase;
}

h2{
    padding: 0.5rem 1rem;
}

div.container{
    width: 600px;
    margin: auto;
    border: 1px solid black;
    border-radius: 10px;
    background-image: url("../valigie.jpg");
}

main ul{
    padding: 0 1rem 1rem 1rem;
    width: 250px;
}

ul>li{
    justify-content: space-between;
    padding: 0.3rem 0;
    border-bottom: 1px solid black;
}

#section-add{
    border-left: 1px solid black;
}

#section-add>p{
    padding: 1rem 0.5rem;
}

#section-add :not(p){
    margin: 0.5rem;
    padding: 0.3rem;
}

section > input{
    width: 90%;
}

.sbarra{
    text-decoration: line-through;
}

.cursor-open{
    cursor: grab;
}